
/* Define Sogo Regular */
@font-face {
    font-family: 'Sogo Regular';
    src: url('/fonts/Sogo-Regular.otf') format('opentype'),
         url('/fonts/Sogo-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
